<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="/ctf-avent/static/css/styles.css" rel="stylesheet" />
  <link rel="icon" type="image/png" href="/ctf-avent/static/favicon/favicon.png" />
  <title>Challenges Avent</title>
</head>

<body style="height:100vh">
  <div id="snow"></div>

  <div style="position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%);">
    <h1>Pas encore disponible :~]</h1>
  </div>

  <script type="module" src="/ctf-avent/static/js/showSnow.js"></script>
</body>

</html>