<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/ctf-avent/static/css/styles.css" rel="stylesheet" />
    <link rel="icon" type="image/png" href="/ctf-avent/static/favicon/favicon.png" />
    <title>SCOREBOARD CTF</title>
  </head>

  <body>
    <div id="snow"></div>

    <div id="title">
      <h1>bj à toi gros bg, tiens un flag gratos :~)</h1></br>
    </div>

    <div>
      <h1>"le flag"</h1>
    </div>

    <script type="module" src="/ctf-avent/static/js/showSnow.js"></script>
  </body>
</html>
